<!DOCTYPE html>
<html>
<head>
	<title>GenerateXML</title>
	{% autoescape off %}
	<script type="text/javascript">

			function ButtonAction()
			{
				var model = document.getElementById('ModelName').value;
				var field = document.getElementById('modelfield').value;
				var conto = document.getElementById('Contotype').value;
				var Label = document.getElementById('Label').value;
				var show = model + '->' + field + '$$' + conto + '$$' + Label;
				document.getElementById('text').value = show;
			}

			function File()
			{
				document.getElementById("ModelName").disabled = false;

				var sfile = document.getElementById('SourceModelFile').value;
				var modelN = document.getElementById('ModelName');
				


				{% for file, models in link_to_file.items %}
					if (sfile == "{{file}}" )
					{
					
						{% for model in models %}
							var newoption = document.createElement("option");
							newoption.text = "{{ model }}";
							modelN.add(newoption);
						{% endfor %}
					}
					
				{% endfor %}
			}
			function Field() {

				document.getElementById("modelfield").disabled = false;
				document.getElementById("smodelfield").disabled = false;
				document.getElementById("button2").disabled = false;
				var model = document.getElementById('ModelName').value;
				var sfield = document.getElementById('smodelfield');
				var mfield = document.getElementById('modelfield');
				if (sfield.length > 1) {
					var i;
					var slen = sfield.options.length;
					for(i = slen - 1; i > 0; i--){
							sfield.options[i] = null;
							mfield.options[i] = null;
					}
				}
				{% for modelName, fieldName in my_diction.items %}
					if (model == "{{modelName}}") {
						{% for fields in fieldName %}
							var option1 = document.createElement("option");
							var option2 = document.createElement("option");
							option1.text = '{{ fields }}';
							option2.text = '{{ fields }}';
							mfield.add(option1);
							sfield.add(option2);
						{% endfor %}
					}
				{% endfor %}

			}
	</script>
	{% endautoescape %}
</head>
<body>

{% if request.method == 'GET' %}
	<div>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div style='display:inline-block'>
				<label><h1>sectionFileUpload</h1></label>
			</div>
			<div style='display:inline-block'>
				<input type="file" name="document" style='font-size:32px;margin-left:40px;'>
			</div>
		  <div style='display:inline-block'>
				<button class="button" type="submit" style='font-size:32px'>Upload File</button>
		  </div>
	</form>
	 </br>
	 {% if url %}
	<p>Uploaded file : <a href="{{url}}">{{url}}</a></p>
	 {% endif %}
	</div>
	<hr>
{% else %}

	<div>
		<form method="post" enctype="multipart/form-data">
			<div style='display:inline-block'>
				<label><h1>sectionCreateXML</h1></label>
	       </div>

			<div style='display:inline-block'>

				<select id="ModelName" onchange='Field()' style="
				font-size: 25px;
				width: 300 px;
				padding-right: 130px;
				margin-left: 200px;
				padding-top: 10px;
				padding-bottom: 10px;
				max-width: 300px;
				min-widt: 300px;


				">
					<option value="0" selected disabled>Model Name</option>

					{% for x in my_diction %}
					<option value={{x}}>{{x}}</option>
					{% endfor %}
				</select>

			</div>

			<div style='display:inline-block'>
		

				<select id="SourceModelFile" autofocus name="SourceModelFile" style="
				font-size: 25px;
				width: 300 px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 40px;
				min-width: 300px;
				max-width: 300px;


				">
					<option value="0" selected disabled >Source Model File</option>
					{% for items in uploaded_file_list %}
					<option value={{items}}>{{items}}</option>
					{% endfor %}
				</select>

			</div>

			<div style='display:inline-block'>

				<select required disabled id="modelfield" style="
				font-size: 25px;
				width: 300px;
				margin-left: 465px;
				padding-top: 10px;
				padding-bottom: 10px;
				max-width: 300px;
				min-widt: 300px;


				">
					<option value="0" selected disabled >Model Field</option>
				</select>
			</div>

			<div style='display:inline-block'>

				<select required disabled id="smodelfield" style="
				font-size: 25px;
				width: 300px;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 57px;
				max-width: 300px;
				min-width: 300px;

				">
					<option value="0" selected disabled >Source Model Field</option>
				</select>
			</div>
		

			<div style='display:inline-block'>

				<select required id ="Contotype" style="
				font-size: 25px;
				width: 300 px;
				margin-left: 465px;
				margin-top: 13px;
				padding-right: 101px;
				padding-top: 10px;
				padding-bottom: 10px;
				max-width: 300px;
				min-width: 300px;


				<!--          Looking for more such option. Please add more options here, if they are             -->


				">
					<option value="0">Contotype</option>                    
					<option value="input$$text">input$$text</option>
					<option value="input$$email">input$$email</option>
					<option value="input$$date&time">input$$date&time</option>
					<option value="select-fromdb">input$$number</option>
				</select>

			</div style='display:inline-block'>

				<input type="text" name="Label" placeholder="Labels" id="Label" style="

				font-size: 25px;
				width:300px;
				padding-top: 9px;
				padding-bottom: 9px;
				margin-top: 10px;
				padding-right: 0px;
				max-width: 300px;
				min-widt: 300px;

				">


			</div>

			<div style='display:inline-block'>

				<input type="text" placeholder="Comma seperated values" required id ="Commaval" style="
				font-size: 20px;
				width: 375px;
				padding-top: 7px;
				padding-bottom: 1px;
				padding-right: 45px;
				padding-top: 15px;
				padding-bottom: 11px;
				margin-left: 550px;
				margin-top: 10px;

				">

			</div>

			<div style='display:inline-block'>

				<textarea id="text" style="
				font-size: 25px;
				width: 590px;
				margin-left: 465px;
				margin-top: 50px;
				height: 180px;
				border-color: red;

				">Xml Content</textarea>
			</div>
		</br>

			<div style='display:inline-block'>

				<button type="button"  disabled onclick="ButtonAction()" id="button2"  style="
				font-size: 30px;
				margin-left: 650px;
				margin-top: 20px;

				">Generate XML</button>

			</div>

	</div>
</form>
{% endif %}

{% if context %}
    <script type="text/javascript">
        (function () {window.DJdata = {{context|safe}};})();
    </script>
{% endif %}

</body>
</html>
